
ul{
    list-style-type: none;
    font-size: 12px;

}
#picture{
    float: left;
    margin-left: 100px;
    margin-top: -50px;
}

p {
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: bold;

}
h6{
    font-size: 18px;


}
#cotainer{
    width:1000px;
    height: 600px;
    margin-left: 300px;
}
#list{
    float: left;
    margin-right: 200px;
}
li {
    border: 1px solid darkgray;
    border-bottom: none;
    width: 150px;
    height: 20px;
    padding-top: 5px;
    padding-left: 3px;
}
li:last-child {
    border-bottom: 1px solid darkgray;
}
a {
    color: gray;
    text-decoration: none;
}



