
#form{
    width:200px;
}
#form{
    float: left;
    margin-top: -30px;

}
#picture{
    float: left;
    margin-left: 100px;
    margin-top: -50px;
}

p {
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: bold;

}
h6{
    font-size: 18px;


}
#cotainer{
    width:1000px;
    height: 600px;
    margin-left: 300px;
}
input{
    font-size: 10px;
    color:black;
    height: 10px;
    display: block;

}

