
.container{
    margin-left: 200px;
}




label,input, select{
    width: 200px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;

}
option{
    width: 150px;
}
.basic{
    float: left;
}

img{
    margin: 0 20px 0 20px;
    margin-left: 200px;
}
.avatar button{
    margin-left: 180px;
    margin-top: 30px;
    width: 140px;
}
.wrap p{


    margin-top: 50px;
}
.password{

    float: left;

    clear: both;
}
input [type=submit]{
    margin-left: 200px;
}
.password button{

    margin-left: 205px;
    width:140px;
   padding: 5px;

}

.additional{

    clear: both;
}
.buttons{
    margin-left: 300px;
margin-top: 30px;
    width: 100%;
}
.buttons button{
    width:140px;
    height: 27px;

}