button{
    width: 150px;
    margin-top: 20px;
}
img{
    margin-left: 25px;
    margin-bottom: 20px;
}
.password.button{

    margin-left: 50px;
}

.password{

    margin-left: 20px;
}
.margin-l{

    margin-left: 195px;
}
