
table{
    font-size: 8px;
    font-weight: normal;
}
#table {
    margin-right: 400px;
    margin-left: 400px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;


}
#title{
    margin-left: 350px;
    margin-bottom: 30px;
}

table tr td{

    padding: 10px 20px 10px 0px;

    border-bottom: 1px solid #000;

}
#news{
    float: left;
    margin-left: 400px;

}
#days{
    float: left;
    margin-left: 150px;

}
h4{
    font-size: 10px;
}
p{
    font-size: 10px;
    font-weight: normal;
}

ul{
    font-size: 10px;
}


