
}
.container{
    margin-top:100px;
}
form{
    height: 100px;
}
input{

    margin-top: 10px;

}
label{
    margin-top: 10px;

}
.my-margin {
    margin-top: 50px;
    margin-bottom: 70px;

}
.my-width{
    width: 70px;
}
.width{
    width: 200px;
}